You can use this code to load the data

In [1]:
## You can use this code to load it

import pandas as pd

# Load the saved datasets from the CSV files
X_train = pd.read_csv("../data/X_train.csv", index_col=0)  # Use the first column as index
y_train = pd.read_csv("../data/y_train.csv", index_col=0)  # Use the first column as index
X_test = pd.read_csv("../data/X_test.csv", index_col=0)    # Use the first column as index
y_test = pd.read_csv("../data/y_test.csv", index_col=0)    # Use the first column as index

# Display the first few rows of the loaded datasets
(X_train.head(), y_train.head(), X_test.head(), y_test.head())

(   age         workclass  fnlwgt  education  education-num  \
 0   39         State-gov   77516  Bachelors             13
 1   50  Self-emp-not-inc   83311  Bachelors             13
 2   38           Private  215646    HS-grad              9
 3   53           Private  234721       11th              7
 4   28           Private  338409  Bachelors             13

        marital-status         occupation   relationship   race     sex  \
 0       Never-married       Adm-clerical  Not-in-family  White    Male
 1  Married-civ-spouse    Exec-managerial        Husband  White    Male
 2            Divorced  Handlers-cleaners  Not-in-family  White    Male
 3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
 4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

    capital-gain  capital-loss  hours-per-week native-country
 0          2174             0              40  United-States
 1             0             0              13  United-States
 2             0             0              40  United-States
 3             0             0              40  United-States
 4             0             0              40           Cuba  ,
   income
 0  <=50K
 1  <=50K
 2  <=50K
 3  <=50K
 4  <=50K,
        age workclass  fnlwgt     education  education-num      marital-status  \
 20156   18   Private  271935       HS-grad              9       Never-married
 28772   67   Private  160456          11th              7             Widowed
 1732    26   Private  314177       HS-grad              9       Never-married
 38871   31   Private  176711       HS-grad              9       Never-married
 27566   56   Private  134286  Some-college             10  Married-civ-spouse

               occupation   relationship   race     sex  capital-gain  \
 20156  Machine-op-inspct      Own-child  White  Female             0
 28772      Other-service  Not-in-family  White  Female             0
 1732               Sales  Not-in-family  Black    Male             0
 38871       Craft-repair  Not-in-family  White    Male             0
 27566    Exec-managerial        Husband  White    Male             0

        capital-loss  hours-per-week native-country
 20156             0              40  United-States
 28772             0              40  United-States
 1732              0              40  United-States
 38871             0              40  United-States
 27566             0              45  United-States  ,
       income
 20156  <=50K
 28772  <=50K
 1732   <=50K
 38871  <=50K
 27566  <=50K)